body {
    background: #FFF8E7;
    color:#000;
}
h1 {
    color:#3a2b2e;
    font-size:40px;
}
h4 {
    color:#3a2b2e;
    font-size:20px;
}
pre {
    color:#4c2882;
    font-size:17px;
}
pre a {
    color:#9657F5;
}